<% if Evaluation.where(request_id: current_user.requests.ids, status: 'yet').exists? %>
	<h3>未完了の評価<%= Evaluation.where(request_id: current_user.requests.ids, status: 'yet').count %>件</h3>

	<% Evaluation.where(request_id: current_user.requests.ids, status: 'yet').each do |eva| %>
		<div>
			ユーザー名：<%= eva.user.name %>
			依頼タイトル：<%= eva.request.title %>
			<%= link_to '評価を入力する', edit_evaluation_path(eva) %>
		</div>
	<% end %>
<% else %>
	<h3>未評価の依頼はありません</h3>
<% end %>