<h2>参加(participants)</h2>

<% @participants.each do |e| %>
	<% if params[:version] == 'user' %>
		<label>依頼名</label>
		<%= e.request.title %>
	<% elsif params[:version] == 'request' %>
		<label>ユーザ名</label>
		<%= e.user.name %>
		<%= e.message %>
	<% end %>
<% end %>