<h1>home_admins_top</h1>
<%= link_to '管理者トップ', admins_top_path %>
<%= link_to '依頼ジャンル一覧', request_genres_path %>
<%= link_to 'スキル一覧', skills_path %>
<%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>