<h2>スカウト(scout)</h2>

<% @scouts.each do |ur| %>
	<% if params[:version] == 'user' %>
		<label>依頼名</label>
		<%= ur.request.title %>
		<%= link_to '参加可否へ', scouts_propriety_path(ur), class: 'btn' %>
	<% elsif params[:version] == 'request' %>
		<label>ユーザ名</label>
		<%= ur.user.name %>
		<%= ur.message %>
	<% end %>
<% end %>