<div style="width: 80%; margin: 0 auto">
<h3>メッセージ一覧</h3>

<hr>
<% @rooms.each do |room| %>
	<% room.users.each do |user| %>
		<% if user != current_user && Message.where(room_id: room.id).exists? %>
			<div>
				<%= link_to "#{user.name}さんとのチャットルームへ", room_path(room) %>
			</div>
			<% room.messages.includes(:user).order("created_at desc").first(1).each do |m| %>
			    <div>
			    	<strong><%= m.body %></strong>
			    	<div class="text-right">
			    		<small>
			    			by
			    				<strong>
			    				<% if m.user == current_user %>
			    					me
			    				<% else %>
			    					<%= link_to "#{m.user.name}", user_path(m.user) %>さん
			    				<% end %>
			    				</strong>
			    			<%= m.created_at.strftime('%Y-%m-%d %H:%M') %>
			    		</small>
			    	</div>
			    </div>
				<hr>
			<% end %>
		<% end %>
	<% end %>
<% end %>
</div>