// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content_box {
	margin: 2em 0;
	border: 1px solid;
}

.content_box_top {
	padding: 1em;
	border: 1px solid;
}

.content_box_bottom {
	padding: 1em;
	border: 1px solid;
	text-align: center;
}