// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_box {
	margin: 1em;
	padding: 1em;
	background-color: rgba(200,200,200,0.4);
}

.profile_box h4 {
	color: black;
}

.profile_box h4:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}

.profile_box span {
	margin-bottom: 1em;
	display: inline-block;
}

.scroll {
	width: 100%;
	height: 50em;
	overflow: scroll;
	background-color: rgba(200,255,100,0.5);
}